<tml>
    <head>
    	<title>My First Ruby on Rails Application: Alpha Blog</title>
    </head>
    <style>
    body {
        background-color: white;
    }
    header {
        text-align: center;
    }
    footer {
        text-align: bottom;
    }
    header {
      color: #F0F0F0;
      background: #C52F24;
      padding: 0.5em 1.5em;
    }

    h1 {
      margin: 0.2em 0;
      line-height: 1.1em;
      font-size: 2em;
    }
    </style>
    <header>
       <h1> Welcome to my alpha-blog </h1>
   </header>
    <body>
 
    <%= link_to "Click here to go to my about page!", about_path %>
    
    </body>
    <footer>
    This is where the footer goes
    </footer>
</html>